@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    margin: 20px auto;
    width: 148px;
    height: 1px;
    background-color: var(--main-color);
}

@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/prons';
@import 'blocks/delivery';
@import 'blocks/agent';
@import 'blocks/price';
@import 'blocks/consultation';
@import 'blocks/manager';
@import 'blocks/scheme';
@import 'blocks/reviews';
@import 'blocks/feed';
@import 'blocks/map';
@import 'blocks/footer';
