.button {
    height: 45px;
    padding: 10px 23px;
    background-color: var(--main-color);
    color: var(--first-color);
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: none;
    transition: all 0.7s;
    &:hover {
        background-color: #dc5238;
        transition: all 0.7s;
    }
}