.feed {
    padding: 62px 0 79px 0;
    min-height: 440px;
    background: url('../img/feed_bg.jpg') center (center/cover) no-repeat;
    &__wrapper {
        width: 896px;
        height: 365px;
        margin: 0 auto;
    }
    &__head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 68px;
        background-color: #25333c;
        color: var(--first-color);
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
        span {
            font-size: 14px;
            font-weight: 400;
        }
    }
    &__body {
        min-height: 280px;
        background-color: rgba(255, 255, 255, 0.7);
        
    }
    &__form {
        padding: 30px 38px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: minmax(auto, 47px) minmax(73px, auto) minmax(auto, 47px);
        row-gap: 10px;
    }
    &__input {
        margin: 0 5px;
        input {
            width: 270px;
            height: 45px;
            border: 2px solid var(--bg-color);
            border-radius: 30px;
            padding: 0 20px;
            font-size: 13px;
            line-height: 24px;
            font-weight: 300;
            color: #101010;
        }
        textarea {
            width: 100%;
            border: 2px solid var(--bg-color);
            resize: none;
            border-radius: 10px;
            padding: 10px 20px;
            font-size: 13px;
            line-height: 24px;
            font-weight: 300;
            color: #101010;
        }
    }
    .textarea {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
    }
    &__btn {
        margin-top: 6px;
        grid-area: 3 / 2 / 4/ 3;
    }
}