.manager {
    padding: 58px 0 76px 0;
    background: url('../img/manager_bg.jpg') center (center/cover) no-repeat;
    min-height: 342px;
    &__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        border: 1px solid var(--first-color);
        border-radius: 100%;
    }
    &__title {
        text-align: center;
        margin-top: 20px;
        font-size: 26px;
        line-height: 23px;
        font-weight: 700;
        color: var(--first-color);
    }
    &__text {
        text-align: center;
        margin-top: 22px;
        font-size: 19px;
        line-height: 27px;
        font-weight: 300;
        color: var(--first-color);
    }
}