.map {
    height: 500px;
    position: relative;
    iframe {
        width: 100%;
        height: 100%;
    }
    #reviews {
        position: absolute;
        display: flex;
        flex-flow: row wrap;
        top: 32%;
        left: 49%;
    }
    .comment {
        max-width: 330px; 
        height: 160px;
    }
    .comment_bubble {
        padding: 15px;
    }
    .comment_bubble {
        background: #fff;
        position: relative;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin-left: 50px;
        span {
            font-size: 16px;
            font-weight: 700;
            color: #ec644b;
        }
    }
    .comment_info {
        font-size: 14px;
        font-weight: 300;
        text-decoration: underline;
        color: #ec644b;
    }
    .comment_bubble:before {
        content: "";
        position: absolute;
        right: 100%;
        top: 50px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 13px solid #fff;
        border-bottom: 12px solid transparent;
    }
}