.prons {
    background-color: var(--bg-color);
    min-height: 590px;
    padding: 57px 0 51px 0;
    &__wrapper {
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        column-gap: 60px;
        row-gap: 35px;
    }
    &__item {
        display: grid;
        grid-template-columns: 64px 1fr;
        column-gap: 20px;
        &-img {
            justify-self: center;
        }
        &-descr {
            &-title {
                font-size: 16px;
                line-height: 22px;
                font-weight: 700;
                color: var(--main-color);
            }
            &-text {
                margin-top: 5px;
                font-size: 14px;
                font-weight: 300;
                color: var(--second-color);
            }
        }
    }
}