.header {
    text-align: center;
    font-size: 26px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--header-two-color);
}
.subheader {
    text-align: center;
    font-size: 21px;
    line-height: 24px;
    font-weight: 300;
    color: var(--second-color);
}